.certificado{
  position: absolute;
top: 0;
left: 0;
background-image: url("diploma.jpg");
height: 100%;
background-position: 0rem 0rem;
background-repeat: no-repeat;
background-size: cover;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
width: 100%;
height: 144%;
}


